@font-face {
    font-family: "PoiretOne";
    src: url(../fonts/PoiretOne-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "PoiretOne";
    font-size: 24px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logo img{
    width: 214px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.navbar button{
    border: none;
    width: 33px;
    height: 33px;
    background-color: #3498db00;
    background-size: cover;
    margin: 5px;
}

.navbar .map{
    background-image: url(../imgs/map-mark.svg);
}

.navbar .cart{
    background-image: url(../imgs/cart.svg);
}

.navbar .account{
    background-image: url(../imgs/account-icon.svg);
}

.navbar input{
    width: 650px;
    height: 50px;
    padding: 10px;
}


.dropdown-toggle {
    display: none;
}

/* Стили для кнопки */
.catalog-button {
    background-color: #60B9D8;
    color: white;
    padding: 10px 20px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin: 5px 0;
}

.catalog-button img{
    padding-right: 20px;
}

/* Скрытый список до активации */
.dropdown-content {
    display: none;
    position: absolute;
    top: 20%;
    background-color: #f9f9f9;
    min-width: 1000px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid 1px black;
    padding: 5px;
}

/* Показываем список при нажатии на кнопку */
.dropdown-toggle:checked ~ .dropdown-content {
    display: block;
}

/* Ссылки внутри списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .line{
    width: 100%;
    height: 1px;
    background-color: black;
}

/* Изменение цвета ссылки при наведении */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.section-first{
    background-image: url(../imgs/company-main.png);
    height: 800px;
}

.section-first .title {
    font-size: 50px;
    color: white;
    text-align: end;
    padding: 100px;
}

.section-first .about{
    width: 65%;
    font-size: 34px;
    text-align: end;
    padding-top: 110px;
    line-height: 50px;
}

.section-story .title{
    font-size: 50px;
    padding: 50px 0;
}

.section-story .block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-story .block p{
    font-size: 32px;
    text-align: center;
}

.section-addresses .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-addresses .title{
    width: 100%;
    text-align: end;
    font-size: 50px;
    padding: 50px 0;
}

.section-addresses img{
    width: 70%;
}

.section-addresses .catalogue{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.section-addresses .catalogue p{
    font-size: 28px;
}

.section-addresses button{
    background-color: #60B9D8;
    color: white;
    padding: 10px 15px;
    font-size: 34px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.section-addresses button a{
    color: white;
    text-decoration: none;
}

.section-addresses button img {
    width: 15%;
}

.section-addresses button:hover{
    background-color: #FFE679;
    transition: 0.3s;
}

footer{
    background-color: #2E353A;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

footer *{
    padding: 5px 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #FFE679;
    transition: 0.2s ease-in-out;
}

footer .links{
    display: flex;
    flex-direction: column;
}
.contct{
    display: flex;
}

.contct p{
    padding-left: 10px;
}

footer .line{
    height: 300px;
    width: 1px;
    background-color: white;
}

